@implements IDisposable

@inject NavigationManager NavigationManager

<!-- Header Start -->
<div class="container-fluid bg-dark px-0">
    <div class="row gx-0">
        <div class="col-lg-3 bg-dark d-none d-lg-block">
            <a href="/" class="navbar-brand w-100 h-100 m-0 p-0 d-flex align-items-center justify-content-center">
                <h1 class="m-0 text-primary text-uppercase">Blazing Hotel</h1>
            </a>
        </div>
        <div class="col-lg-9">
            <div class="row gx-0 bg-white d-none d-lg-flex">
                <div class="col-lg-7 px-5 text-start">
                    <div class="h-100 d-inline-flex align-items-center py-2 me-4">
                        <i class="fa fa-envelope text-primary me-2"></i>
                        <p class="mb-0">info@example.com</p>
                    </div>
                    <div class="h-100 d-inline-flex align-items-center py-2">
                        <i class="fa fa-phone-alt text-primary me-2"></i>
                        <p class="mb-0">+012 345 6789</p>
                    </div>
                </div>
                <div class="col-lg-5 px-5 text-end">
                    <div class="d-inline-flex align-items-center py-2">
                        <a class="me-3" href=""><i class="fab fa-facebook-f"></i></a>
                        <a class="me-3" href=""><i class="fab fa-twitter"></i></a>
                        <a class="me-3" href=""><i class="fab fa-linkedin-in"></i></a>
                        <a class="me-3" href=""><i class="fab fa-instagram"></i></a>
                        <a class="" href=""><i class="fab fa-youtube"></i></a>
                    </div>
                </div>
            </div>
            <nav class="navbar navbar-expand-lg bg-dark navbar-dark p-3 p-lg-0">
                <NavLink Match="NavLinkMatch.All" href="/" class="navbar-brand d-block d-lg-none">
                    <h1 class="m-0 text-primary text-uppercase">Blazing Hotel</h1>
                </NavLink>
                <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                    <div class="navbar-nav mr-auto py-0">
                        <NavLink Match="NavLinkMatch.All" href="/" class="nav-item nav-link">Home</NavLink>
                        <NavLink href="about-us" class="nav-item nav-link">About</NavLink>
                        <NavLink href="services" class="nav-item nav-link">Services</NavLink>
                        <NavLink href="rooms" class="nav-item nav-link">Rooms</NavLink>
                        <div class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Pages</a>
                            <div class="dropdown-menu rounded-0 m-0">
                                <NavLink href="booking" class="dropdown-item">Booking</NavLink>
                                @* <NavLink href="team." class="dropdown-item">Our Team</NavLink>
                                <NavLink href="testimonial.html" class="dropdown-item">Testimonial</NavLink> *@
                            </div>
                        </div>
                        <NavLink href="contact" class="nav-item nav-link">Contact</NavLink>

                        <AuthorizeView>
                            <Authorized>
                                <div class="nav-item dropdown">
                                    @* <label>@(string.Join(Environment.NewLine, @context.User.Claims.Select(c => $"{c.Type}={c.Value}")))</label> *@
                                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">@context.User.FindFirst(AppContants.CustomClaimTypes.FullName)?.Value</a>
                                    <div class="dropdown-menu rounded-0 m-0">

                                        <NavLink href="booking" class="dropdown-item">My Profile</NavLink>

                                        <AuthorizeView Roles="@RoleType.Guest.ToString()" Context="guestContext">
                                            <NavLink href="booking" class="dropdown-item">My Bookings</NavLink>
                                        </AuthorizeView>

                                        <AuthorizeView Roles="Admin" Context="adminContext">
                                            <NavLink href="booking" class="dropdown-item">Manage Staff</NavLink>
                                        </AuthorizeView>

                                        <AuthorizeView Roles="Staff,Admin" Context="staffAdminContext">
                                            <NavLink href="booking" class="dropdown-item">Manage Bookings</NavLink>
                                            <NavLink href="staff-admin/manage-room-types" Match="NavLinkMatch.All" class="dropdown-item">Manage Rooms</NavLink>
                                            <NavLink href="staff-admin/manage-room-types/new" class="dropdown-item">+ Add Room Type</NavLink>
                                            <NavLink href="staff-admin/manage-amenities" class="dropdown-item">Manage Amenities</NavLink>
                                        </AuthorizeView>
                                    </div>
                                </div>
                            </Authorized>
                        </AuthorizeView>
                    </div>
                    <AuthorizeView>
                        <Authorized>
                            <form action="Account/Logout" method="post">
                                <AntiforgeryToken />
                                <input type="hidden" name="ReturnUrl" value="@currentUrl" />
                                <button type="submit" class="btn btn-primary rounded-0 py-4 px-md-5 d-none d-lg-block">
                                    Logout<i class="fa fa-arrow-right ms-3"></i>
                                </button>
                            </form>
                        </Authorized>
                        <NotAuthorized>
                            <a href="account/login" class="btn btn-primary rounded-0 py-4 px-md-5 d-none d-lg-block"><i class="fa fa-arrow-left me-3"></i>Login</a>
                        </NotAuthorized>
                    </AuthorizeView>

                </div>
            </nav>
        </div>
    </div>
</div>

@code {
    private string? currentUrl;

    protected override void OnInitialized()
    {
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }
}

